@media screen and (min-width: 769px) and (max-width: 1279px) {

    .items-one {
        width: 768px;
        padding: 32px 24px;
    }

    .items-two {
        width: 768px;
        padding: 32px 24px;
    }

    .item {
        width: 218px;
        height: 267px;
    }

}

