@media screen and (max-width: 479px) {
    .items{
        display: flex;
        flex-direction: column;
        width: 375px;
        padding: 32px 16px;
        gap: 32px;
    }
    .item{
        width: 343px;
        height: 220px;

    }
    .item img{
        width: 128px;
        height: 128px;

    }
    .item h3{
        margin: 16px 0 8px 0;
    }

}