@media screen and (min-width: 769px) and (max-width: 1279px){
    .items{
        display: flex;
        width: 768px;
        height: 652px;
        padding: 48px 24px;
        gap: 24px;
        flex-wrap:  wrap;
    }
    .item{
        width: 348px;
        height: 258px;
    }
    .items div:nth-child(3){
        margin-top: 16px;
    }
    .items div:nth-child(4){
        margin-top: 16px;
    }
}