@media screen and (max-width: 480px) {
    body{
        font-size: 10px;
    }
    .wrapper{
        flex-direction: column;
    }
    main, aside{
        width: 100%;
    }
    main{
        height: 60vh;
    }
    header, aside, section, footer{
        height: 10vh;
    }
    section{
        width: 100%;
        display: block;
        background: #B9EBFE;
    }
    header p::after{
        content: "mobile";
    }
}