.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:  column;
    gap: 70px;
}
.sun{
    width: 180px;
    height: 180px;
    animation: sun 7s linear infinite alternate;
}
@keyframes sun {
    from{
        transform:  translate(-500px,300px) rotate(50grad);
    }
    25%{
        transform:  translate(-250px,100px) rotate(100grad);
    }
    50%{
        transform:  translate(0px,0px) rotate(150grad);
    }
    75%{
        transform:  translate(250px,100px) rotate(200grad);
    }
    100%{
        transform:  translate(500px,300px) rotate(250grad);
    }

}
.island{
    width: 350px;
    height: 400px;
    animation: island 7s linear infinite alternate;
}
@keyframes island {
    from{
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(10deg);
    }
}