.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:  column;
    gap: 70px;
    margin-top: 100px;
}
.sun{
    width: 200px;
    height: 200px;
    animation: sun 7s linear infinite alternate;
}
@keyframes sun {
    from{
        transform:  translate(-500px,300px);
    }
    25%{
        transform:  translate(-250px,100px);
    }
    50%{
        transform:  translate(0px,0px);
    }
    75%{
        transform:  translate(250px,100px);
    }
    100%{
        transform:  translate(500px,300px);
    }

}
.island{
    animation: island 7s linear infinite alternate;
}
@keyframes island {
    from{
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(10deg);
    }
}